<mat-tab-group>
  <mat-tab label="Ligue 1">
    <table mat-table [dataSource]="ligue1" class="mat-elevation-z8">

      <ng-container matColumnDef="acronym">
        <th mat-header-cell *matHeaderCellDef> Nom </th>
        <td mat-cell *matCellDef="let element"> {{element.acronym}} </td>
      </ng-container>

      <ng-container matColumnDef="fullName">
        <th mat-header-cell *matHeaderCellDef> Nom Complet </th>
        <td mat-cell *matCellDef="let element"> {{element.fullName}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

  </mat-tab>
  <mat-tab label="Liga"> Liga</mat-tab>
  <mat-tab label="Premier League"> Premier League</mat-tab>
</mat-tab-group>


<p> {{ obs$ | async | json}} </p>
